
<div class="d-flex justify-content-center mt-5">
  
    <div class="card text-center shadow p-3 mb-5 bg-white">
        <ul class="list-group list-group-flush">
          <li class="list-group-item title">{{dat.name}}</li>
          <li class="list-group-item">Id: {{dat.id}}</li>
          <li class="list-group-item">Description: {{dat.description}}</li>
          <li class="list-group-item">Min. Required Age: {{dat.age}}</li>
          <li class="list-group-item">Wood Cost: {{dat.cost.Wood}}</li>
          <li class="list-group-item">Food Cost: {{dat.cost.Food}}</li>
          <li class="list-group-item">Gold Cost: {{dat.cost.Good}}</li>
          <li class="list-group-item">Build Time: {{dat.build_time}}</li>
          <li class="list-group-item">Reload Time: {{dat.reload_time}}</li>
          <li class="list-group-item">Hit Points: {{dat.hit_points}}</li>
          <li class="list-group-item">Attack: {{dat.attack}}</li>
          <li class="list-group-item">Accuracy: {{dat.accuracy}}</li>
        </ul>
      </div>
</div>
